<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	{% block form %}
		<form action="" method="POST">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Ок</button>
		</form>
	{% endblock %}
</body>
</html>